* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #548687;
    text-align: center;
}

.container {
    height: 70vh;
    display: flex;              
    justify-content: center;    
    align-items: center;       
}

.game {
    height: 60vmin;
    width: 60vmin;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    

}

.box {
    height: 18vmin;
    width: 18vmin;
    background-color: aquamarine;  
    border-radius: 1rem;
    border: none;
    font-size: 8vmin;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

.box:hover {
    background-color: #40d4d4;
    transform: scale(1.05);
}
#reset-btn {
    padding: 1rem 2rem;
    background-color: bisque;
    border-radius: 0.5rem;
    border: none;
    font-size: 1rem;
    cursor: pointer;
    font-weight: bold;
    margin-top: 2rem;
    transition: all 0.3s ease;
}

#reset-btn:hover {
    background-color: #ffe4b5;
    transform: scale(1.05);
}

#new-btn {
    padding: 1rem 2rem;
    background-color: bisque;
    border-radius: 0.5rem;
    border: none;
    font-size: 1.2rem;
    cursor: pointer;
    font-weight: bold;
    transition: all 0.3s ease;
}

#new-btn:hover {
    background-color: #ffe4b5;
    transform: scale(1.1);
}

#msg{
    color: beige;
    font-size: 8vmin;
}
.msg-container {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.8);
}
.hide{
    display: none;
}
